*.hda binary
*.hda linguist-generated
*.hda -diff
*.otl binary
*.otl linguist-generated
*.otl -diff
*.bgeo binary
*.bgeo linguist-generated
*.bgeo -diff
*.bgeo.sc binary
*.bgeo.sc linguist-generated
*.bgeo.sc -diff
*.abc binary
*.abc linguist-generated
*.abc -diff
*.usdc binary
*.usdc linguist-generated
*.usdc -diff
*.idx binary
*.idx linguist-generated
*.idx -diff
*.ico binary
*.ico linguist-generated
*.ico -diff
*.png binary
*.png linguist-generated
*.png -diff
